/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4472c4;
  --ifm-color-primary-dark: #3863b7;
  --ifm-color-primary-darker: #355eb0;
  --ifm-color-primary-darkest: #2c4d91;
  --ifm-color-primary-light: #5081d1;
  --ifm-color-primary-lighter: #5986d8;
  --ifm-color-primary-lightest: #6f9ae0;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #6f9ae0;
  --ifm-color-primary-dark: #5081d1;
  --ifm-color-primary-darker: #4472c4;
  --ifm-color-primary-darkest: #3863b7;
  --ifm-color-primary-light: #8db3e9;
  --ifm-color-primary-lighter: #a2c0ed;
  --ifm-color-primary-lightest: #b7cdf1;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
